<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">Your Coupons</h1>
                <form action="" method="post">
                  <input class="form-control" type="text" name="title" value="" placeholder="Name Your Coupon!">
                  <input class="form-control" type="text" name="description" value="" placeholder="What is it??Describe!">
                  <input class="form-control" type="text" name="product" value="" placeholder="What product is it for?">
                  <input class="form-control" type="text" name="discount_price" value="" placeholder="How much is it?">
                  <input class="form-control" type="text" name="expiration_date" value="" placeholder="What is expiration date?">
                  <input class="btn btn-danger form-control" type="submit" value="Login">
                </form>
            </div>
          </div>

          <!-- title, description, product, discount_price, expiration_date -->
